{% extends "blog_base.html" %}

{% block content %}
	<br>
	<br>
	<h1 style=" background-color: #eee; color: #777; margin-bottom: 5px; height :80px;">LOGIN</h1>
	<form method ="post">
		<table>
			<tr>
				<td class = "label">
					USERNAME
				</td>
				<td>
					<input type="text" name="username" value ="{{username}}">
				</td>
			</tr>
			<tr>
				<td class= "label">
					PASSWORD
				</td>
				<td>
					<input type="password" name="password" value="">
				</td>
			</tr>
			<br>
			<br>
		</table>

		<div class ="error">
			{{error}}
		</div>
		<input type="submit">
	</form>

{% endblock %}